.banners {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1rem;
  overflow: hidden;
}

.banners article[class^="banner"] {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  aspect-ratio: 1.9164 / 1;
  padding-right: 25%;
  padding-left: 2%;
  width: calc(100% - 25% - 2%);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.banners .banner1 {
  background-image: url("/src/assets/banner1.png");
}

.banners .banner2 {
  background-image: url("/src/assets/banner2.png");
}

.banners h2,
.banners p,
.banners button {
  font-weight: 400;
  font-family: var(--font-sec);
  color: rgb(var(--color-qua));
}

.banners h2 {
  opacity: 0%;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  text-transform: uppercase;
  gap: 0.5rem;
}
.banners p {
  opacity: 0%;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.banners h2 span {
  opacity: 0%;
  text-transform: capitalize;
  font-family: var(--font-pri);
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2em;
}

.banners button {
  opacity: 0%;
  font-size: 0.825rem;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  background-color: rgb(var(--color-pri));
}

.banners article[class^="banner"].animate {
  h2 {
    animation: slideRight 750ms ease-out 100ms 1 forwards;
  }
  span {
    animation: rotateUp 750ms ease-out 900ms 1 forwards;
  }
  p {
    animation: rotateUp 750ms ease-out 1000ms 1 forwards;
  }
  button {
    animation: rotateUp 750ms ease-out 1000ms 1 forwards;
  }
}

@keyframes slideRight {
  from {
    opacity: 0%;
    transform: translate(-100%, 0%);
  }
  to {
    opacity: 100%;
    transform: translate(0%, 0%);
  }
}
