.products-section-title {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.products-section-title .section-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(var(--color-ter));
}

.products-section-title .section-subheading {
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.1rem 1rem;
  color: rgb(var(--color-pri), 60%);
  border-left: 2px solid rgb(var(--color-pri), 60%);
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-section-slider.slick-slider.slick-initialized {
  width: calc(99vw - 300px);
}

.product-section-slider .slick-prev {
  z-index: 1;
  left: -3rem;
}

.product-section-slider .slick-next {
  z-index: 1;
}

.product-section-slider .slick-prev:before,
.product-section-slider .slick-next:before {
  color: black;
  font-size: 2rem;
}
