.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.product-link {
  width: 100%;
}

.product-link * {
  transition: all 250ms ease;
}

.product-link:hover h3 {
  color: rgba(var(--color-pri));
}

.product-link:hover .product,
.product-link:focus-visible .product {
  box-shadow: 0px 0px 5px rgba(var(--color-pri), 25%);
}

.product-link:hover .product img,
.product-link:focus-visible .product img {
  transform: scale(1.05);
}

.product span:not(.price) {
  font-weight: 500;
  text-transform: capitalize;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  background-color: rgba(var(--color-pri));
  color: rgba(var(--color-qua));
  padding: 0.25rem 0.75rem;
}

.product-link:nth-child(3) span:not(.price) {
  background-color: rgba(var(--color-ter));
}

.product img {
  background-color: rgba(var(--color-sec));
  aspect-ratio: 1;
  width: 100%;
  min-width: 150px;
  max-width: 500px;
  object-fit: cover;
  object-position: center;
}

.product h3 {
  font-family: var(--color-sec);
  color: rgba(var(--color-pri), 60%);
  font-size: 1.25rem;
  text-transform: capitalize;
}

.product .price {
  font-family: var(--font-sec);
  font-weight: 700;
  font-size: 1.25rem;
  color: rgba(var(--color-ter));
}

.product .rating {
  font-size: 0.75rem;
  color: gold;
}
