#navbar {
  grid-column: page;
  position: relative;
  z-index: 5;
}

.nav-top {
  display: flex;
  justify-content: space-around;
  background-color: rgba(var(--color-sec));
  align-items: center;
  font-weight: 300;
  gap: 28%;
  padding: 0.55rem 0px;
}

.nav-top a:hover,
.nav-top a:focus-visible {
  color: rgba(var(--color-pri), 50%);
}

.nav-top div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

#currency {
  background-color: transparent;
  border: none;
  font-weight: 300;
}

.nav-mid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0px;
  background-color: rgba(var(--color-qua));
}

.nav-mid .right button {
  transition: all 150ms linear;
}

.nav-mid .right button:hover,
.nav-mid .right button:focus-visible {
  background-color: initial;
  color: rgba(var(--color-ter));
}

.nav-mid .right button:active {
  filter: drop-shadow(3px 3px 1px rgba(var(--color-pri), 50%));
}

.nav-mid .right button:active i {
  color: rgba(var(--color-ter), 100%);
}

.nav-mid .right button:hover span,
.nav-mid .right button:focus-visible span {
  color: rgba(var(--color-ter));
}

.nav-mid div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-button {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
}

.nav-button span {
  color: rgba(var(--color-pri), 50%);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 150ms ease;
}

#hamburger-menu {
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 0.1rem;
  height: 2.5rem;
  width: 2.5rem;
  color: rgba(var(--color-qua));
  background-color: rgba(var(--color-ter));
}

#hamburger-menu:hover,
#hamburger-menu:focus-visible {
  background-color: black;
}

#hamburger-menu:active {
  box-shadow: inset 0px 0px 10px 3px rgba(var(--color-ter), 100%);
}

#hamburger-menu i {
  font-size: 1rem;
}

#search {
  border: solid 1px rgba(var(--color-pri), 20%);
  border-radius: 2.5rem;
  height: 2.5rem;
  width: 9.5rem;
  padding: 0rem 1rem;
}

.nav-links {
  background-color: rgba(var(--color-sec));
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  position: relative;
}

.nav-link {
  display: flex;
}

.nav-link > a {
  padding: 1rem 3rem;
  transition: all 150ms ease;
  z-index: 2;
}

.nav-link > a:hover,
.nav-link > a:focus-visible {
  outline: none;
  color: rgba(var(--color-ter));
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-underline-offset: 1.1rem;
  text-decoration-thickness: 0.2rem;
}

.nav-link > a:active {
  text-shadow: 1px 1px 1px rgba(var(--color-pri), 50%);
}

.nav-dropdown {
  width: 60vw;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  left: 50%;
  background-color: rgba(var(--color-qua));
  transform: translate(-50%, 0%);
  box-shadow: 0px 3px 3px rgba(var(--color-pri), 50%);
  transition: all 350ms ease-out;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  padding: 3rem;
  opacity: 0%;
}

.nav-dropdown.active {
  transform: translate(-50%, 100%);
  opacity: 100%;
}

.nav-dropdown-links h4 {
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: -0.02rem;
  word-spacing: -0.01rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  transition: all 150ms ease-out;
}

.nav-dropdown-links ul {
  border-top: 1px solid rgba(var(--color-pri), 20%);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.nav-dropdown-links a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  word-spacing: -0.01rem;
  letter-spacing: -0.02rem;
  transition: all 150ms ease-out;
}

.nav-dropdown-links a:hover {
  color: rgba(var(--color-ter));
}

.nav-dropdown-links:hover h4,
.nav-dropdown-links:focus-within h4 {
  color: rgba(var(--color-ter));
}
