@font-face {
  font-family: "D-DIN EXP";
  src: url("/fonts/D-DINExp") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "D-DIN EXP";
  src: url("/fonts/D-DINExp-bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "D-DIN EXP";
  src: url("/fonts/D-DINExp-italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

:root {
  --font-pri: "Roboto", sans-serif;
  --font-sec: "D-DIN EXP", sans-serif;
  --color-pri: 0, 0, 0;
  --color-sec: 248, 248, 248;
  --color-ter: 203, 55, 55;
  --color-qua: 255, 255, 255;
  color: rgb(var(--color-pri));
  font-family: var(--font-pri);
}

#root {
  display: grid;
  grid-template-columns: [page-start] 150px [content-start] 1fr [content-end] 150px [page-end];
}

#root *:focus-visible {
  outline-color: rgb(var(--color-ter));
}
input,
button,
select {
  font-family: var(--font-pri);
  box-sizing: border-box;
  font-size: 1rem;
}

input,
button,
input:focus,
input:focus-visible,
input:active {
  border: none;
  outline: none;
}

input:focus,
input:focus-visible,
input:active {
  box-sizing: border-box;
  outline: 0.15rem solid rgb(var(--color-ter));
}

input[type="submit"],
input[type="button"],
button {
  box-sizing: border-box;
  text-align: center;
  transition: all 250ms ease;
}

i {
  transition: all 150ms ease;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
select:hover {
  cursor: pointer;
  background-color: rgb(var(--color-ter));
}

input[type="submit"]:active,
input[type="button"]:active,
button:active {
  border-color: rgb(var(--color-pri));
  background-color: rgba(var(--color-sec), 1);
  color: rgb(var(--color-pri));
}

input[type="submit"]:focus-visible,
input[type="button"]:focus-visible,
button:focus-visible {
  background-color: rgb(var(--color-ter));
}

button:active i {
  color: rgb(var(--color-sec));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pri);
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  cursor: default;
}

p {
  cursor: default;
}

p,
a,
ul,
li,
body,
button,
input,
select {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  user-select: none;
}
